<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center mt-4">List Users</h1>
  </div>
  <div class="apple_pagination mb-4">
    <%= will_paginate @users, :container => false %>
  </div>
</div>
<%= render 'user' %>
<div class="apple_pagination mb-4">
  <%= will_paginate @users, :container => false %>
</div>